<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- ====================== servlet start ============================ -->

	<servlet>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>org.fgst.servlet.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/upload_file</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConvertImageServlet</servlet-name>
		<servlet-class>org.fgst.servlet.ConvertImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConvertImageServlet</servlet-name>
		<url-pattern>/convert_image</url-pattern>
	</servlet-mapping>

	<!-- ====================== servlet end ============================ -->
</web-app>
