<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!-- ====================== servlet start ============================ -->

	<servlet>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>org.fgst.servlet.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/upload_file</url-pattern>
	</servlet-mapping>
	
	<!-- ====================== servlet end ============================ -->
</web-app>
